*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(5, 4, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container{
    background-color: rgb(37, 37, 37);
    border-radius: 25px;
    padding: 30px;
    box-shadow: 3px 3px 10px rgba(2, 5, 180, 0.527);
    width: 320px;
    color: white;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 255);
}
.form-group{
    margin-bottom: 10px;
}
label{
    font-weight: bold;
    display: block;
    color:rgb(0, 0, 255);
}
input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 255);
    background-color: rgb(92, 90, 90);
}
.btn-group{
    display: flex;
    justify-content: space-between;
}
button{
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;    
    transition: 0.3s;
    color: rgb(0, 0, 0);
}
button:hover{
    transform: scale(1.1);
}
.btn-cadastrar{
    background-color: rgb(0, 0, 255);
}
.btn-cadastrar:hover{
    background-color: rgb(0, 0, 255, 0.8);
}
.btn-atualizar{
    background-color: rgb(0, 255, 0);
}
.btn-atualizar:hover{
    background-color: rgb(0, 255, 0, 0.8);
}
.btn-excluir{
    background-color: rgb(255, 0, 0);
}
.btn-excluir:hover{
    background-color: rgb(255, 0, 0, 0.8);
}
@media (max-width: 400px){
    .container{
        width: 90%;
    }
    .btn-group{
        flex-direction: column;
    }
    button{
        margin: 5px 0;
    }
}